numpy>=1.20
pandas>=1.0
scikit-learn>=1.0
matplotlib>=3.0
joblib>=1.0
tqdm>=4.60

torch>=1.10
torchaudio>=2.0
torchvision>=0.15
transformers>=4.30
timm>=0.9

librosa>=0.9
soundfile>=0.12
PyWavelets>=1.4
praat-parselmouth>=0.4
openl3>=0.4

requests>=2.28
